
.right_meta1_button, .left_meta1_button{
    top: 16%;
    left: 47%;
}
.left_meta1_button{
    left: 53%;
    transform:translate(-120%,0) 
}
  .right_middle_finger_button_r2, .left_middle_finger_button_l2 {
    top: 5%;
    left: calc(50% + 26.5%);
}
.left_middle_finger_button_l2{     left: calc(50% - 26.5%); transform:translate(-120%,0) }

.right_index_finger_button_r1, .left_index_finger_button_l1 {
    top: 12%;
    left: calc(50% + 26.5%);
}
.left_index_finger_button_l1{     left: calc(50% - 26.5%); transform:translate(-120%,0) }

 .face_button_left, .direction_pad_left {
    top: 20%;
    left: calc(50% + 26.5%);
}
.direction_pad_left{     left: calc(50% - 26.5%); transform:translate(-120%,0) }

 .face_button_top, .direction_pad_up {
    top: 27%;
    left: calc(50% + 26.5%);
}
.direction_pad_up{     left: calc(50% - 26.5%); transform:translate(-120%,0) }

 .face_button_right, .direction_pad_right {
    top: 35%;
    left: calc(50% + 26.5%);
}
.direction_pad_right{     left: calc(50% - 26.5%); transform:translate(-120%,0) }

 .face_button_bottom, .direction_pad_down {
    top: 43%;
    left: calc(50% + 26.5%);
}
.direction_pad_down{     left: calc(50% - 26.5%); transform:translate(-120%,0) }

 .right_stick_y_axis, .left_stick_y_axis {
    top: 81%;
    left: calc(45% + 0.0%);
}
.left_stick_y_axis{     left: calc(45% - 0.0%); transform:translate(-120%,0) }

